html,
body,
#root {
  font-family:
    system ui,
    sans-serif;
  background-color: rgb(251, 246, 240);
}

.patientlist-wrapp {
  max-width: 500px;
  margin: 40px auto;
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
.patientlist-wrapp h2 {
  margin-bottom: 16px;
}

.patient-list {
  background: rgb(240, 240, 236);
  list-style: none;
  padding: 0;
  margin: 0;
}

.patient-item {
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s ease;
}

.patient-item:last-child {
  border-bottom: none;
}

.patient-item:hover {
  background-color: white;
}

.patient-item a {
  text-decoration: none;
  color: #6a6cf3;
  font-weight: 500;
  display: block;
}
.error {
  color: red;
  margin-bottom: 12px;
}
.label {
  font-weight: 600;
  color: #6a6cf3;
}

.details-page {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
}

.card {
  width: 400px;
  background: white;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.08);
}
